/.idea
/node_modules


.env
.env.backup

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*


phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid

public/mix-manifest.json
public/images

/config/jwt.php
/db
hs_err_pid*.log
