@media print {

}
@page {
    size: letter;
    /*size: 8.5in 11in;*/
}

@font-face {
    font-family: apple-chancery;
    src: url(/fonts/PS_50.ttf?133f864ad380e8fd2566462fb311bd11);
}
@font-face {
    font-family: tartine-script-regular;
    src: url(/fonts/tartinescriptregular.ttf?013341089d12c8826b903e46c5dc5121);
}
@font-face {
    font-family: government;
    src: url(/fonts/mongov.ttf?ed743d82d6a4832e9f19c6984546b9a3);
}
@font-face {
    font-family: regular-roman;
    src: url(/fonts/monregro.ttf?d50ba603e88c19567067756e43962150);
}
@font-face {
    font-family: roman-condensed;
    src: url(/fonts/monrcon.ttf?5d57342d744d032dcaa7e3ebb0691649);
}
@font-face {
    font-family: roman-more-condensed;
    src: url(/fonts/monrmcon.ttf?7f38e9a12e65ada6f825a29d79f8536a);
}
@font-face {
    font-family: alternate-gothic;
    src: url(/fonts/alternate_gothic_no3.ttf?414b70e75e246d783ee14fd6cec6df8b);
}

